/target/
.shp
/src/main/resources/mapdata/countries.shp
/src/main/resources/mapdata/countries.shx
/src/main/resources/svg/air1.svg
/src/main/resources/mapdata/potch.tif
/src/main/resources/mapdata/potch.TIF
/src/main/resources/mapdata/potch.tiff
/src/main/resources/mapdata/earthlights.jpg
/src/main/resources/mapdata/potchmap.tif
/src/main/resources/mapdata/potchphoto.tif